# Logs
*.log

# SSH and sensitive data
.ssh/
Data/
SourceData/
Results/
Reports/

# Jupyter Notebook checkpoints
Notebooks/.ipynb_checkpoints/
*-checkpoint.ipynb

# Environment and dependencies
venv/
.env

# Operating system files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Build and distribution
build/
__pycache__/
*.py[cod]
*.pyo
*.pyd

